<h2>Tasks</h2>
<div class="container">
    <div class="row">
      <div class="col-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">S/N</th>
              <th scope="col">title</th>
              <th scope="col">description</th>
              <th scope="col">due date</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for task in tasks %}

            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ task.title}}</td>
              <td>{{task.description}}</td>
              <td>{{ task.due_date}}</td>
              <td>
                <button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button>
                <button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button>
              <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
              </td>
            </tr>

           {% endfor %}
        
          </tbody>
        </table>
      </div>
    </div>
  </div>    

